<ul class="list-item">
    <li><a rel="external" href="./assets/files/Kusalakari%20Abhidhamma%20Class%20Note%20By%20Ashin%20Garudhamma%20-%202014.pdf">အဘိဓမ္မာပို့ချချက် Abhidhamma Class Note PDF</a></li>
    <!--<li><a rel="external" href="./assets/files/kusalakari_patthana07_class_note.pdf">ပဌာန်း Patthana Class Note PDF</a></li>-->
</ul>