<ul class="list-item">
    <li><a rel="external" href="./assets/files/kusalakari_abhidhamma_class_note.pdf">အဘိဓမ္မာပို့ချချက် Abhidhamma Class Note PDF</a></li>
    <!--<li><a rel="external" href="./assets/files/kusalakari_patthana07_class_note.pdf">ပဌာန်း Patthana Class Note PDF</a></li>-->
</ul>