<li data-filtertext="homepage" data-icon="home"><a href="./">Home</a></li>
<% for (key in pages) { %>
<li data-filtertext="<%= pages[key].en %>"><a href="./<%= pages[key].link %>"><%= pages[key].my %></a></li>
<% } %>
