<li data-filtertext="abhidhamma"><a href="./abhidhamma-intro.html">အဘိဓမ္မာဆောင်သည်သာ ဓမ္မကထိကအစစ်ဖြစ်</a></li>
<li data-filtertext="paramatha"><a href="./paramatha.html">ပညတ် နှင့် ပရမတ် (ပရမတ္ထတရား လေးပါး)</a></li>
<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false">
    <h3>အကုသိုလ်စိတ် ၁၂-ပါး</h3>
    <ul>
        <li data-filtertext="akusala citta"><a href="./akusala_citta.html" data-ajax="false">အကုသိုလ်စိတ် ၁၂-ပါး</a></li>
        <li data-filtertext="akusala citta"><a href="./akusala_citta_a.html" data-ajax="false">ဆိုင်ရာ သိမှတ်ဖွယ်ရာများ</a></li>
        <li data-filtertext="akusala citta"><a href="./akusala_citta_b.html" data-ajax="false">ဒုစရိုက် ၁ဝ ပါး</a></li>
    </ul>
</li>
