<div class="next-prev hide">
<!--
    <div data-role="controlgroup" data-type="horizontal">
        <a href="#" data-role="button" data-icon="carat-l" data-iconpos="left">Previous</a>
        <a href="#" data-role="button" data-icon="carat-r" data-iconpos="right">Next</a>
    </div>
-->
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="#" class="prev" data-icon="carat-l"></a></li>
            <li><a href="#" class="next" data-icon="carat-r"></a></li>
        </ul>
    </div>
</div>
