<div role="main" class="ui-content jqm-content">

    <h1>Search Results</h1>

    <div class="jqm-search-results-wrap">
        <ul class="jqm-list jqm-search-results-list">
            <%- partial("_links") %>
        </ul>
    </div>

</div>
<!-- /content -->