<h1>Home</h1>


<div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
        <div class="jqm-block-content">
            <h3>Download</h3>
            <div class="sub-des">
                Please right click on link and choose "Save Link/Target As..." to save file to your computer.
            </div>
            <ul class="list-item">
                <li><a rel="external" 
                       title='Please right click and choose "Save Link/Target As..." to save to your computer' 
                       href="./assets/files/Kusalakari%20Abhidhamma%20Class%20Note%20By%20Ashin%20Garudhamma%20-%202014.pdf">
                    ကုသလကာရီ အဘိဓမ္မာပို့ချချက် -  အရှင်ဂရုဓမ္မ (pdf file)
                    </a>
                </li>
                <!--<li><a rel="external" href="./assets/files/kusalakari_patthana07_class_note.pdf">ပဌာန်း Patthana Class Note PDF</a></li>-->
            </ul>
        </div>
    </div>
    <div class="ui-block-b">
        <div class="jqm-block-content">
            <h3>Reference</h3>
            <ul class="list-item">
                <li><a href="./ref/citta_cetasika_table.html" data-ajax="false"><%= ref_pages.citta_cetasika_table %></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="jqm-block-content">
    <h3>Table of Content</h3>
    <%- partial("_toc") %>
</div>
