<h1>Home</h1>
<div id="abd-home" class="jqm-block-content">
    <a rel="external" href="//kusalakari.org">kusalakari.org</a>
    <h3>Download</h3>
    <div class="sub-des">
        Please right click on link and choose "Save Link/Target As..." to save file to your computer.
    </div>
    <ul class="list-item">
        <li><a rel="external" 
               title='Please right click and choose "Save Link/Target As..." to save to your computer' 
               href="./assets/files/kusalakari-abhidhamma-book-2016-02-09.pdf">
              အဘိဓမ္မာပို့ချချက် (pdf file)
            </h3> 
            <span style="font-size: 12px">last modified: 2016-02-09</span>
        </li>
        <li><a rel="external" 
               href="./assets/files/kusalakari-abhidhamma-chart-2016-09-20.pdf">
            အထောက်အကူပြု ဇယားနှင့်ပုံ များ (pdf file)
            </h3>
            <span style="font-size: 12px">last modified: 2016-09-20</span>
        </li>
        <li><a rel="external" 
               href="./assets/files/kusalakari-abhidhamma-book-2014-09-04.pdf">
              အဘိဓမ္မာပို့ချချက် (pdf file)
            </a>
            <span style="font-size: 12px">last modified: 2014-09-04</span>
        </li>
        <li><a rel="external" 
               href="./kusalakari-abhidhamma-book-2014-09-04">
             အဘိဓမ္မာပို့ချချက် (html file)
            </a> 
            <span style="font-size: 12px">last modified: 2014-09-04</span>
        </li>
        <!--<li><a rel="external" href="./assets/files/kusalakari_patthana07_class_note.pdf">ပဌာန်း Patthana Class Note PDF</a></li>-->
    </ul>

    <h3>Reference</h3>
    <ul class="list-item">
        <li><a href="./ref/" data-ajax="false"><%= ref_pages.citta_cetasika_table %></a></li>
    </ul>
    
    <h3>Table of Content</h3>
    <div class="sub-des">
        The following are web version of the ကုသလကာရီ အဘိဓမ္မာပို့ချချက် - အရှင်ဂရုဓမ္မ (pdf file). But they are incomplete. Please download the pdf file to read all chapters.
    </div>
    <%- partial("_toc") %>
</div>
