<div class="container">

    <div class="">
        <div class="header-row row">
            <div class="col-md-10">
                <p class="mm lead">
                    နမော တဿ ဘဂဝတော အရဟတော သမ္မာသမ္ဗုဒ္ဓဿ
                </p>

                <h1 class="title mm">ကုသလကာရီ မြန်မာဘုန်းတော်ကြီးကျောင်း</h1>
                <p class="subtitle">Kusalakari Monastery, Fremont, California, USA</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <a name="dhamma-class"></a>
                <h2><span class="mm">ဓမ္မ သင်တန်း</span> Dhamma Class</h2>

                <div style="padding: 10px 0;">
                    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/_xvKP4pKvZU?list=PLGFVopB-O8aVh3LX57lBX8CGr0HFXKeDJ" frameborder="0" allowfullscreen></iframe>                    -->

                    <p>Watch class video lectures at
                        <a href="http://www.youtube.com/user/Kusalakari">Kusalakari YouTube Channel</a></p>
                </div>

                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Taught By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <!--<a href="./abhidhamma/">Abhidhamma အဘိဓမ္မာ</a>-->
                            <span class="mm">အဘိဓမ္မာ</span> Abhidhamma
<!--
                            <br/>
                            <a class="small" href="./assets/files/Kusalakari%20Abhidhamma%20Class%20Note%20By%20Ashin%20Garudhamma%20-%202014.pdf">အဘိဓမ္မာပို့ချချက် (pdf)</a>
                            <a class="small" href="./assets/files/Kusalakari%20Abhidhamma%20Chart%20Book.pdf">အထောက်အကူပြု ဇယားနှင့်ပုံ များ (pdf)</a>
-->
                        </td>
                        <td>Sunday</td>
                        <td>5 to 6 pm</td>
                        <td>Sayadaw U Garudhamma</td>
                    </tr>
                    <tr>
                        <td><span class="mm">တရားထိုင်</span> Meditation</td>
                        <td>Sunday</td>
                        <td>6 to 7 pm</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="mm">ပဌာန်း</span> Patthana</td>
                        <td>Sunday</td>
                        <td>7 to 8 pm</td>
                        <td>Sayadaw U Garudhamma</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                      <h4>Class Notes</h4>
                      <ul>
                        <li><a class="mm" href="./assets/files/Kusalakari%20Abhidhamma%20Class%20Note%20By%20Ashin%20Garudhamma%20-%202014.pdf">အဘိဓမ္မာပို့ချချက် (pdf)</a></li>
                        <li><a class="mm" href="./assets/files/Kusalakari%20Abhidhamma%20Chart%20Book.pdf">အဘိဓမ္မာ အထောက်အကူပြု ဇယားနှင့်ပုံ များ (pdf)</a></li>
                        <li><a class="mm" href="./abhidhamma/ref/">သမ္ပယောဂနည်း-သင်္ဂဟနည်း ဇယားကွက်</a></li>
                      </ul>
                    </div>
                </div>

<!--
                <div class="row">
                    <div class="col-md-6 mail-chimp">
                        <h4>Get Email Updates</h4>
                        &lt;!&ndash; Begin MailChimp Signup Form &ndash;&gt;
                        <div id="mc_embed_signup">
                            <form action="http://kusalakari.us8.list-manage.com/subscribe/post?u=22f15eb8ee344d0fcc14fec6d&amp;id=ed6b3c4e23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <p>Subscribe to the <strong>Kusalakari Monastery</strong> newsletter to keep up-to-date on dhamma classes</p>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_22f15eb8ee344d0fcc14fec6d_ed6b3c4e23" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </form>
                        </div>

                        &lt;!&ndash;End mc_embed_signup&ndash;&gt;
                    </div>
                </div>
-->

            </div>
        </div>


        <div class="about-row row">
            <div class="col-md-10">
                <a name="about-site"></a>
                <h2 class="about">About</h2>
                <p>
                    Ven. Sayadaw Kawthanla and Ven. Sayadaw Garudhamma﻿
                    reside at Kusalakari Monastery in Fremont, California, USA.
                    Ven. Sayadaw Garudhamma﻿ teaches AbhiDhamma and Patthana.
                    Ven. Sayadaw Kawthanla teaches meditation methods.﻿﻿﻿
                </p>
                <div class="sayadaw">
                    <img src="./assets/img/ukawsila.jpg" title="U Kawsila"/>
                    <figure>Ven. Sayadaw Kawthanla</figure>
                </div>
                <div class="sayadaw">
                    <img src="./assets/img/ugarudhamma.jpg" title="U Garudhamma"/>
                    <figure>Ven. Sayadaw Garudhamma</figure>
                </div>
            </div>
        </div>

    </div>


    <footer>
        <a name="contact-us"></a>
        <div class="row">
            <div class="col-sm-6">
                <address>
                    <strong>Kusalakari Monastery</strong><br/>
                    40174 Spady Street<br/>
                    Fremont, CA 94538<br/>
                    United States<br/>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <a href="https://www.google.com/maps?q=40174%20Spady%20Street,%20Fremont,%20CA,%2094538,%20US&z=15">Google Map</a>
                </address>
            </div>
            <div class="col-sm-6">
                <abbr title="Phone">ph:</abbr> +1(510)979-1580<br/>
                email: <a href="mailto:info@kusalakari.org">info@kusalakari.org</a><br/>
                facebook: <a href="http://www.facebook.com/KusalakariMonastery">KusalakariMonastery</a><br/>
                youtube: <a href="http://www.youtube.com/user/Kusalakari">Kusalakari</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 powered-by">
                <p>Maintained by: <a href="http://github.com/ninegene/kusalakari.org">ninegene</a> © 2014.</p>
            </div>
        </div>
    </footer>

</div>
