<!--<h1>သမ္ပယောဂနည်း-သင်္ဂဟနည်း</h1>-->
<div class="container">
<table id='ref-table'>
  <thead>
    <tr>
      <th></th>
      <th colspan=7>အဟိတ်စိတ်-၁၈ပါး</th>
      <th colspan=4>အကုသိုလ်စိတ်-၁၂ပါး</th>
      <th colspan=3>ကာမသောပနဘဏစိတ်-၂၄ပါး</th>
      <th colspan=5>မဟဂ္ဂုတ်စိတ်-၂၇ပါး</th>
      <th colspan=5>လောကုကုတ္တရာစိတ်-၄ဝပါး</th>
    </tr>
    <tr class="vheader">
      <th class="valign-center"><div class="htex">စေတသိက်</div></th>
      <th><div class="vtext">ဒွေပဉ္စဝိညာဏ်-၁ဝ</div></th>
      <th><div class="vtext">သမ္ပဋိစ္ဆိုင်း-၂</div></th>
      <th><div class="vtext">ဥပေက္ခာသန္တီရဏ-၂</div></th>
      <th><div class="vtext">သောမနဿသန္တီရဏ-၁</div></th>
      <th><div class="vtext">ပဉ္စဒွါရာဝဇ္ဇန်း-၁</div></th>
      <th><div class="vtext">မနောဒွါရာဝဇ္ဇန်း-၁</div></th>
      <th><div class="vtext">သောမနဿဟသိတုပ္ပါဒ်-၁</div></th>
      <th><div class="vtext">လောဘမူစိတ်-၈</div></th>
      <th><div class="vtext">ဒေါသမူစိတ်-၂</div></th>
      <th><div class="vtext">ဝိစိကိစ္ဆာ-၁</div></th>
      <th><div class="vtext">ဥဒ္ဓစ္စ-၁</div></th>
      <th><div class="vtext">မဟာကုသိုလ်-၈</div></th>
      <th><div class="vtext">မဟာဝိပါက်-၈</div></th>
      <th><div class="vtext">မဟာကြိယာ-၈</div></th>
      <th><div class="vtext">ပထမဈာန်-၃</div></th>
      <th><div class="vtext">ဒုတိယဈာန်-၃</div></th>
      <th><div class="vtext">တတိယဈာန်-၃</div></th>
      <th><div class="vtext">စတုတ္ထဈာန်-၃</div></th>
      <th><div class="vtext">ပဉ္စမဈာန်-၁၅</div></th>
      <th><div class="vtext">ပထမဈာန်-၈</div></th>
      <th><div class="vtext">ဒုတိယဈာန်-၈</div></th>
      <th><div class="vtext">တတိယဈာန်-၈</div></th>
      <th><div class="vtext">စတုတ္ထဈာန်-၈</div></th>
      <th><div class="vtext">ပဉ္စမဈာန်-၈</div></th>
    </tr>
  </thead>
  <tbody>
  <tr class="cesatika-group-1">
    <td class="align-left" style="padding:0 5px">သဗ္ဗစိတ္တ-၇</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">ဝိတက်</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">ဝိစာရ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">ပီတိ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td style="padding:0">သော၄</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td style="padding:0">သော၄</td>
    <td style="padding:0">သော၄</td>
    <td style="padding:0">သော၄</td>
    <td></td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">အဓိမောက္ခ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">ဝီရိယ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-group-1">
    <td class="align-left">ဆန္ဒ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-group-2-placeholder" style="display:none">
    <td colspan=12 class="align-left">
      မောဟ,အဟိရိက,အနောတ္တပ္ပ,ဥဒ္ဓစ္စ, လောဘ, ဒိဋ္ဌိ, မာန, ဒေါသ, ဣဿာ,မစ္ဆရိယ,ကုက္ကုစ္စ, ထိန,မိဒ္ဓ, ဝိစိကိစ္ဆာ
    </td>
    <td colspan=16 class="noborder">မ</td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">မောဟ,အဟိရိက,အနောတ္တပ္ပ,ဥဒ္ဓစ္စ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">လောဘ</td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">ဒိဋ္ဌိ</td>
    <td>ဒိသံ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">မာန</td>
    <td style="padding:0">ဒိဝိ(ရံ)</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">ဒေါသ</td>
    <td>မ</td>
    <td></td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder">မ</td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">ဣဿာ,မစ္ဆရိယ,ကုက္ကုစ္စ</td>
    <td>မ</td>
    <td style="padding:0">ရံသီး</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder">
      <span style="color: #ccc">(click here to hide/show this section)</span>
    </td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">ထိန,မိဒ္ဓ</td>
    <td colspan=2 style="padding:0; font-size:90%">သသင်၅ (ရံတူ)</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-2">
    <td colspan=8 class="align-left">ဝိစိကိစ္ဆာ</td>
    <td>မ</td>
    <td>မ</td>
    <td></td>
    <td>မ</td>
    <td colspan=16 class="noborder"></td>
  </tr>
  <tr class="cesatika-group-3">
    <td colspan=12 class="align-left">
      သောဘဏသာဓာရဏ ၁၉-ပါး
      <div style="display:none" class="cesatika-group-3_19">
        သဒ္ဒါ,သတိ,ဟိရီ,သြတ္တပ္ပ,အလောဘ,အဒေါသ,တတြမဇ္စျတ္တတာ,ကာယပဿဒ္ဓိ,စိတ္တပဿဒ္ဓိ,ကာယလဟုတာ,စိတ္တလဟုတာ,ကာယမုဒုတာ,စိတ္တမုဒုတာ,ကာယကမ္မညတာ,စိတ္တကမ္မညတာ,ကာယပါဂုညတာ,စိတ္တပါဂုညတာ,ကာယုဇုကတာ,စိတ္တုဇုကတာ
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-group-3">
    <td colspan=12 class="align-left">
      သမ္မာဝါစာ,သမ္မာကမ္မန္တ,သမ္မာအာဇီ၀
    </td>
    <td style="padding:0">ရံသီး</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td colspan=5>အမြဲတပေါင်းတည်း</td>
  </tr>
  <tr class="cesatika-group-3">
    <td colspan=12 class="align-left">
      ကရုဏာ,မုဒိတာ
    </td>
    <td style="padding:0">ရံသီး</td>
    <td>မ</td>
    <td style="padding:0">ရံသီး</td>
    <td style="padding:0">ရံသီး</td>
    <td style="padding:0">ရံသီး</td>
    <td style="padding:0">ရံသီး</td>
    <td style="padding:0">ရံသီး</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
    <td>မ</td>
  </tr>
  <tr class="cesatika-group-3">
    <td colspan=12 class="align-left">
      ပညာ
    </td>
    <td style="padding:0">ဉာသံ</td>
    <td style="padding:0">ဉာသံ</td>
    <td style="padding:0">ဉာသံ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="cesatika-count">
    <td>စေတသိက် အရေအတွက်</td>
    <td>၇</td>
    <td>၁၀</td>
    <td>၁၀</td>
    <td>၁၁</td>
    <td>၁၀</td>
    <td>၁၁</td>
    <td>၁၂</td>
    <td>
      ၁၉&nbsp;
      ၂၁&nbsp;
      ၁၈&nbsp;
      ၂၀
    </td>
    <td>
      ၂၀&nbsp;
      ၂၂
    </td>
    <td>၁၅</td>
    <td>၁၅</td>
    <td>
      ၃၈&nbsp;
      ၃၇&nbsp;
      ၃၇&nbsp;
      ၃၆
    </td>
    <td>
      ၃၃&nbsp;
      ၃၂&nbsp;
      ၃၂&nbsp;
      ၃၁
    </td>
    <td>
      ၃၅&nbsp;
      ၃၄&nbsp;
      ၃၃&nbsp;
      ၃၂
    </td>
    <td>၃၅</td>
    <td>၃၄</td>
    <td>၃၃</td>
    <td>၃၂</td>
    <td>၃၀</td>
    <td>၃၆</td>
    <td>၃၅</td>
    <td>၃၄</td>
    <td>၃၃</td>
    <td>၃၃</td>
  </tr>
  </tbody>
</table>
</div>