@font-face {
  font-family: 'Myanmar3';
  src: local('Myanmar3'), url('myanmar3.ttf');
}

body{
  width: 100%;
  padding: 2px;
  margin: 0;
  color: #333;
}

.container {
  width: 100%;
  padding:0;
  margin:0;
  //max-width: 1024px;
  // border: 1px solid /red
}

table {
  width: 100%;
  border-collapse:collapse;
  border: 1px solid #ccc;
  //table-layout: fixed;
  width: 1020px;
  padding-right: 0px;
  margin-right: 0px;
}

table thead tr th, table tfoot tr th {
  background: #f9f9f9;
}

table thead tr td, table tfoot tr td {
  background: #fff;
}

h1, div, table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  font-family: "Myanmar3";
  font-size: 14px;
}

h1 {
  text-align: left;
  font-size: 24px;
  padding: 0 0 10px 0;
  margin: 0;
}

td, th {
  text-align: center;
  border: 1px solid #ccc;
  padding: 3px 5px;
  max-width: 30px;
  &:hover {
    cursor: pointer;
    //color: blue;
    //font-weight: bolder;
  }
}

tr.cesatika-group-1 {
  //width: 75px;
}

tr.cesatika-group-1 td:first-child, tr.cesatika-group-1 th:first-child {
  width: 75px;
}

tr.cesatika-group-1 td:first-child,
tr.cesatika-group-2 td:first-child,
tr.cesatika-group-3 td:first-child,
{
  &:hover {
    //color: blue;
  }
}

tr.cesatika-group-2 {
  //width: 75px;
}

tr.cesatika-group-3 {
  //width: 75px;
}

.cesatika-group-3_19 {
  font-size: 90%;
}

.cesatika-group-2 td[colspan="16"], .cesatika-group-2-placeholder td[colspan="16"] {
  cursor: pointer;
}

td.noborder {
  border: 0px;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  //background: #fff;
}

.vheader th
{
  background: #f9f9f9;
  text-align: center;
  vertical-align: bottom;
  height: 140px;
  padding: 5px;
}

.vheader .vtext
{
  text-align: center;
  vertical-align: middle;
  width: 20px;
  margin: 0;
  padding: 0px;
  white-space: nowrap;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.cesatika-count {
  display: none;
}

.cesatika-count td {
  font-size: 12px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.footer {
  text-align: center;
  padding: 0;
  padding-top: 20px;
}
