@font-face {
  font-family: 'Myanmar3';
  src: local('Myanmar3'), url('/assets/fonts/myanmar3.ttf');
}

.mm {
  font-family: "Myanmar3", sans-serif;
}

h1 {
  font-family: "Myanmar3", sans-serif;
  line-height: 2em;
}

.lead {
  font-family: "Myanmar3", sans-serif;
}

.navbar {
  border-bottom: 1px solid #eee;
}

.sayadaw {
  display: inline-block;
  text-align: center;
  padding: 1em;
}

.sayadaw img {
  overflow: hidden;
  width: 200px;
  border: 5px solid #571505;
  border-radius: 2px;
  box-shadow: 0 0 10px #04070A;
}

.mail-chimp {
  display: none;
}

footer {
  margin-bottom: 0px;
}

.powered-by {
  padding: 20px 0 0 0;
}
.powered-by p {
  font-size: 80%;
}